table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: ;
}

caption {
    border: 2px solid #000;
    width: 300px;
    font-weight: 1000;
    font-size: 20px;
}

thead {
    border: 2px solid #000;
    font-weight: 1000;
    font-size: 20px;
}

td {
    border: 2px solid #000;
}

span {
    color: #ff0000;
}