body {
    background: rgba(0, 0, 0, 0.76);
    color: #fafafa;
    display: block;
    font-size: 64px;
}

.rectangle {
    position: fixed;
    width: 920px;
    height: 80px;
    background: #fafafa;
    display: block;

    margin-left: 950px;
    border-radius: 8px;
    top: 810px;

}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(240, 33, 33);
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 80px;
    margin-top: -60px;
    margin-left: 60px;
}


